body {
    margin: 0%;
    background-color: #ebebeb;
    height: 7.2rem;
}
.read_now {
    background-color: #FFF;
    height: 1.2rem;
    margin-top: -0.2rem;
    padding-left: 0.6rem;
}
.ul_li1 {
    color: #3DB1FA;
}
span {
    list-style: none;
    float: left;
    font-size: 0.3rem;
    text-align: left;
    padding-right: 0.4rem;
    font-weight: bold;
    margin-top: 0.5rem;
}
.read_now {
    margin-top: -0.3rem;
}
.read1_title {
    font-size: 0.3rem;
}
.read1 span {
    font-size: 0.3rem;
}
.read1 {
    background: white;
    border-radius: 3%;
    margin-left: -0.59rem;
}
.read1_ul li {
    display: inline-block;
    font-size: 0.3rem;
    list-style-type: none;
    margin-right: 1rem;
    text-align: center;
}
.read_now p {
    font-size: 0.3rem;
    padding-left: 0.2rem;
}
.read1_ul {
    position: relative;
    margin-top: -0.13rem;
    margin-bottom: 0rem;
}
.pro_t {
    position: absolute;
    right: 0;
    border-radius: 10%;
}
.div_div_jj {
    display: none;
}
.div_a {
    height: 1.8rem;
}
.aaimg {
    position: absolute;
    top: -3rem;
    right: 0.0rem;
    background-color: #3DB1FA;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 10%;
}


.div_div5 {
    font-size: 0.35rem;
}
.div_div5_1 {
    display: inline-block;
    padding-left: 1rem;
}
.div_div5_2 {
    display: inline-block;
    padding-left: 0.6rem;
}
.img5_1 {
    width: 0.5rem;
}
.img5_2 {
    width: 0.5rem;
}
.div_div5_3 {
    padding-right: 0.12rem;
}
.div_div {
    position: relative;
}
.div_div5 {
    font-size: 0.35rem;
    position: fixed;
    top: 13.45rem;
    background-color: #FFF;
    padding-bottom: 0.1rem;
}
.div_div_b {
    display: block;
    width: 33px;
    height: 30px;
    overflow: hidden;
    margin: 0 auto;

}
.img5_2 {
    width: 0.50rem;
    height: 0.76rem;
    margin-top: 8px;
}
.img5_1 {
    width: 0.50rem;
    height: 0.76rem;
    margin-top: -22px;
}
.img5_3 {
    width: 0.50rem;
    height: 0.76rem;
    margin-top: 8px;
}
.img5_4 {
    width: 0.50rem;
    height: 0.76rem;
    margin-top: 7px;
}
a{
    text-decoration: none;
    color: #000;
}