body{
    margin: 0%;
}
.div_div101 {
    position: relative;
}
.div_div1 {
    text-align: center;
    margin-top: -7%;
}
.div_div1_1 {
    display: inline-block;
}
.img1_1 {
    width: 0.4rem;
    padding-right: 1.7rem;
}
.div_div1_2 {
    display: inline-block;
    font-size: 0.46rem;
}
.img1_2 {
    width: 0.4rem;
    padding-left: 1.7rem;
}
.div_div {
    height: 1.5rem;
}
.div_div2_1 {
    display: inline-block;
}
.img2_1 {
    width: 0.72rem;
    padding-left: 0.6rem;
}
.img2_2 {
    width: 0.72rem;
}
.span_span2_1 {
    font-size: 0.26rem;
    font-weight: bold;
    padding-left: 0.4rem;
}
.img2_2 {
    width: 0.72rem;
    padding-left: 0.6rem;
}
.div_div3a3 {
    background-color: #f2f2f0;
    height: 0.15rem;
}
.div_div3_1 {
    text-align: center;
}
.span_span3_1 {
    font-size: 0.4rem;
}
.span_span3_2 {
    font-size: 0.38rem;
}
.div_div3_3 {
    margin-top: -6%;
    padding-bottom: 2%;
}
.div_div3_1 {
    text-align: center;
    color: #f46054;
    margin-top: -7%;
}
.div_div3_2 {
    text-align: center;
    color: #6e6e6e;
}
.span_span3_21 {
    font-size: 0.29rem;
}
.span_span3_22 {
    height: 0.1rem;
    font-size: 0.4rem;
}
.div_div3 {
    text-align: center;
}
.div_div3_31 {
    background: -webkit-linear-gradient(left, #fd8247, #f46054);
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    color: #FFF;
    font-size: 0.4rem;
    border-radius: 0.5rem;
}
.div_div4 {
    background-color: #f2f2f0;
    padding-bottom: 1rem;
}
.div_div4_1 {
    text-align: center;
}
.img4_1 {
    width: 0.25rem;
}
.span_span4_2 {
    font-size: 0.2rem;
}
.div_div6 {
    background-color: #f2f2f0;
    height: 0.5rem;
    margin-top: 0.3rem;
}
.div_div7 {
    text-align: center;
}
.div_div7_1 {
    display: inline-block;
}
.img7_1 {
    width: 0.46rem;
    padding-left: 0.8rem;
}
.span_span7_1 {
    color: #f23029;
    font-size: 0.3rem;
    padding-left: 0.76rem;
    opacity: 0.5;
}
.span_span7_4 {
    font-size: 0.3rem;
    padding-left: 0.76rem;
    opacity: 0.5;
}
.span_span7_3 {
    font-size: 0.3rem;
    padding-left: 0.76rem;
    opacity: 0.5;
}
.img7_2 {
    width: 0.46rem;
    padding-left: 1.072rem;
    padding-right: 0.7rem;
}
.div_div7 {
    text-align: center;
    background-color: #FFF;
    position: absolute;
    top: 11rem;
    border-top: 2px solid #e1e1e1;
}
.span_span7_2 {
    font-size: 0.3rem;
    padding-left: 0.4rem;
}
a {
    color: #000;
    text-decoration: none;
    opacity: 0.5;
}